<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HangangActivity</title>
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap ICON -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


    <style>
        .container-body {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            max-width: 1200px;
        }
        .filter-section {
            flex: 1;
            max-width: 240px;
        }
        .content-section {
            margin: 0 auto;
            flex: 3;
        }
        .ad-section {
            flex: 1;
            max-width: 300px;
        }
    </style>
</head>
<body>
    <!-- 헤더 -->
    <div th:replace="fragments/header.html :: header"></div>

    <main id="main-content" class="container-body my-4">
       
    </main>

    <!-- 바텀 -->
    <div th:replace="fragments/footer.html :: footer"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            loadContent('/program/home'); // home.html을 로드
        });

        function applyFilter() {
            // Example JavaScript to handle filter logic
            document.getElementById('filtered-content').innerHTML = '<p>검색 하였음.</p>';
        }

        function loadContent(url) {
            console.log(url);
            fetch(url)  // URL에서 HTML을 가져옴
                .then(response => response.text()) // 응답을 텍스트(HTML)로 변환
                .then(html => {
                    document.getElementById("main-content").innerHTML = html; // 특정 영역에 삽입
                })
                .catch(error => console.error('Error loading content:', error));
        }
    </script>
</body>
</html>